[gpg]
	program = gpg
[user]
	email = paperlark@yandex.com
	name = Max Zhuravsky
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/paperlark/.gitignore
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true  # use n and N to move between diff sections
	line-numbers = true
	wrap-max-lines = unlimited
	side-by-side = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
